.txt {
  text-align: center;
  font-size: 16pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.inp {
  border: none;
  width: 2em;
  text-align: center;
}
.btn {
  color: whitesmoke;
  border-radius: 8px;
  padding: 14px 40px;
  font-size: 30px;
}
.minus-btn {
  background-color: #5fae57;
  color: whitesmoke;
  border-radius: 8px;
  padding: 14px 40px;
}
.plus-btn {
  background-color: #196811;
}
.title {
  font-weight: bolder;
}
.title {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  font: 32px Times New Roman;
  color: #7030a0;
  text-shadow: 2px 2px 3px #999999;
}
